$default-block: 'vue-typewriter-next';

.#{$default-block}__label-container {
  user-select: none;
  font-size: 20px;
  font-family: inherit;
}

.#{$default-block}__typewriter {
  padding-right: 2px;
  border-right: 0.08em solid #a1a1a1;
}
