$default-block: 'vue-typewriter-next';
// vue-typewriter-next__typewriter

.#{$default-block}__label-container {
  font-size: 20px;
  font-family: inherit;
}

.#{$default-block}__typewriter {
  padding-right: 2px;
  border-right: 0.08em solid #a1a1a1;
}
