$default-block: 'vue-typewriter-next';

.#{$default-block}__label-container {
  display: inline-block;
  user-select: none;
  font-size: 20px;
  font-family: inherit;
}

.#{$default-block}__prefix {
  margin-right: 6px;
}

.#{$default-block}__typewriter {
}

.#{$default-block}__cursor {
  padding-right: 4px;
  border-right-width: 0.1em;
  border-right-style: solid;
  animation: twinkle 0.8s linear infinite;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
